# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Codes\Planets_and_Moons\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
